.estimate-details{
    margin-bottom: 2px !important;
}

.modal-button{
    width: 100%;
    margin-bottom: .5em;
}

#primary-contact-label{
    margin-right: 1em;
}

#sender-label{
    margin-left: .4em;
    margin-right: .5em;
}

#receiver-label{
    margin-left: .4em;
}

section#estimate{
    background-color:#222;background-image:url(../img/map-image.png);background-position:center;background-repeat:no-repeat
}

section#estimate .section-heading{
    color:#fff
}

section#estimate .form-group{
    margin-bottom:25px
}

section#estimate .form-group input,section#estimate .form-group textarea{
    padding:20px
}

section#estimate .form-group input.form-control{
    height:auto
}

section#estimate .form-group textarea.form-control{
    height:236px
}

section#estimate .form-control:focus{
    border-color:#fed136;box-shadow:none
}

section#estimate ::-webkit-input-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb
}

section#estimate :-moz-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb
}

section#estimate ::-moz-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb
}

section#estimate :-ms-input-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb
}

section#estimate .text-danger{
    color:#e74c3c
}