extends layout 

block content
    section
        .container
            h1 Yippe Couriers Admin
            each trip in trips
                h3 #{trip.sender_name}
                p #{trip._id}
                each pet in trip._pets
                    p #{pet.name}